/* Media Queries */

/* small laptops and large tablets */

@media (max-width: 1083px) {
    body {
        zoom: 0.8;
    }
}

/* tablets and under */

@media (max-width: 926px) {
}

@media (max-width: 695px) {
    .navbar nav {
        display: none;
    }
    .mobile-nav-menu {
        display: flex;
    }
}

/* smartphones & under */

@media (max-width: 500px) {
}
