/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar */

.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
}

#logo, #brand, ul {
    width: 12vw;
}

/* .navbar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
    background-color: black;
    background: url('/img/Lunch2-new_xexpaz.jpeg');
} */

/* Navigation Bar: Logo */

#logo img {
    width: 3.5vw;
    margin: 4% 35%;
    opacity: 0.95;
}

/* Navigation Bar: Brand Name */

#brand {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.45rem;
    width: 50vw;
    text-align: center;
}

#brand:hover {
    cursor: pointer;
}

#brand span {
    font-size: 1.3rem;
    /* font-family: cursive; */
    font-family: 'Bree Serif', serif;
    margin: 0 1%;
}

/* Navigation Bar: Login & Sign up */

.navbar ul {
    font-family: 'Baloo Bhai 2', cursive;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.5%;
}

.navbar ul .item {
    list-style: none;
    margin: 0 5%;
}

.navbar ul .item>a {
    text-decoration: none;
    font-size: 1.05rem;
    color: rgba(255, 255, 255, 0.8);
    padding: 3px 12px;
}

.navbar ul .item>a:hover {
    /* color: rgb(0, 0, 0); */
    font-weight: bold;
    /* border: 2px solid black; */
    /* border-radius:12px; */
    /* background-color: rgb(58, 58, 58); */
}

/* Home section */

#home {
    font-family: 'Bree Serif', serif;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    height: 900px;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    position: absolute;
    height: 220vh;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    background-image: url('../img/bg.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#home-container {
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
    height: 38%;
    flex-direction: column;
    /* margin-top: 12%; */
    /* margin-bottom: 12%; */
}

#home-container p {
    font-size: 1.45rem;
    padding: 8px 30px;
    color: rgb(185, 10, 10);
    text-shadow: 4px 1px 25px rgb(95, 45, 45);
    cursor: default;
}

#home-container a {
    text-align: center;
    margin: auto;
    margin-top: -3%;
    margin-bottom: 1%;
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', sans-serif;
    text-shadow: 4px 1px 6px rgb(116, 116, 116);
    width: fit-content;
    text-decoration: none;
    font-weight: 575;
}

#home-container a:hover {
    /* background-color: rgb(220, 253, 242);
    border: 1px solid rgb(255, 135, 122); */
    text-decoration: underline;
}

/* Food Section */

#food {
    /* margin-top: 295px; */
    margin-bottom: -200px;
    background-color: white;
    /* position: relative;
    top: 250px; */
}

#f-head {
    padding: 50px 100px;
    font-size: 3.5rem;
    font-family: 'Baloo Bhai 2', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* cursor: pointer; */
    text-align: center;
    margin: auto;
}

#f-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.f-item {
    width: 200px;
    height: 200px;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-bottom: 6.5%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.7s ease-in-out 0.1s;
}

.f-item:hover {
    width: 240px;
    height: 240px;
}

#i1 {
    background-image: url('../img/food/american.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i2 {
    background-image: url('../img/food/italian.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i3 {
    background-image: url('../img/food/chinese.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i4 {
    background-image: url('../img/food/north_indian.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i5 {
    background-image: url('../img/food/mexican.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i6 {
    background-image: url('../img/food/latin_america.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i7 {
    background-image: url('../img/food/medtrn_food.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i8 {
    background-image: url('../img/food/chicken_wings.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i9 {
    background-image: url('../img/food/new_mexican.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i10 {
    background-image: url('../img/food/sandwich.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i11 {
    background-image: url('../img/food/breakfast.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i12 {
    background-image: url('../img/food/salads.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i13 {
    background-image: url('../img/food/thai.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i14 {
    background-image: url('../img/food/vegan.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i15 {
    background-image: url('../img/food/south_indian.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i16 {
    background-image: url('../img/food/vegetarian.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i17 {
    background-image: url('../img/food/desserts.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i18 {
    background-image: url('../img/food/ice_cream.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i19 {
    background-image: url('../img/food/juices.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#i20 {
    background-image: url('../img/food/comfort_food.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#f-container .text-box {
    position: relative;
    text-align: center;
    top: 80%;
    left: 1.5%;
}

._food {
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .f-img {
    display: inline-block;
    width: 17%;
    height: 317px;
    border-radius: 50%;
    margin: 2% auto;
} */

/* Services */

#services {
    background: none;
}

#s-container {
    background-color: #2b1e16;
    position: relative;
    top: 235px;
    height: 435px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* #s-container img {
    width: 30%;
} */

#img1 {
    width: 20.5%;
}

#img2 {
    width: 20%;
}

#img3 {
    width: 25.5%;
}

.text-box {
    cursor: default;
}

.s-para {
    width: 55%;
    display: inline-block;
    font-size: 1.1rem;
    color: #eed2c1;
}

/* App-Section */

.app-float {
    float: left;
    position: relative;
}

#app-section {
    position: relative;
    top: 300px;
    /* margin-top: 20%; */
}

#app-container{
    height: 400px;
    background-color: white;
    color: black;
    font-family: 'Bree Serif', sans-serif;
}

#a-head {
    font-size: 4rem;
    height: 100px;
    left: 10%;
    width: 25%;
    bottom: 10%;
    text-shadow: 2px 2px 10px rgb(109, 109, 109);
}

#a-text {
    font-size: 1.7rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 50%;
    right: 15%;
    width: 35%;
    text-shadow: 1px 1px 4px rgb(172, 171, 171);
}

#app-imgs {
    top: 80%;
    right: 51%;
    z-index: 1;
}

#app-imgs img {
    width: 40%;
    margin: 2%;
    cursor: pointer;
}

#store-imgs {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    clear: both;
    position: relative;
    bottom: 245px;
}

#store-imgs img {
    width: 25%;
    /* cursor: pointer; */
}


/* Utility Classes */

.h-primary {
    font-size: 5.5rem;
    margin: 8px 30px;
    color: rgba(0, 0, 0, 1);
    text-shadow: 4px 1px 35px rgb(37, 37, 37);
    font-weight: bold;
    animation-name: primary-animation;
    animation-duration: 1.5s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    cursor: default;
}

.h-secondary {
    margin: 30px auto;
    font-size: 1.75rem;
    margin-top: 50px;
    cursor: default;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 90px;
    font-size: 2.7rem;
    font-family: 'Bree Serif', serif;
    margin: 4% auto;
    padding: 6px 20px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(255, 170, 11);
    color: rgb(255, 20, 67);
    opacity: 0.85;
    text-shadow: 4px 1px 50px rgb(255, 20, 67);
    box-shadow: 6px 6px 16px 1px black;
    transition: all 0.6s ease-in-out 0s;
    cursor: pointer;
    /* background-color: black;
    color: white;
    opacity: 0.6; */
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    opacity: 0.92;
    font-size: 3rem;
    width: 20vw;
    height: 100px;
    border: 2px solid rgb(146, 145, 145);
}

.box {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(248, 240, 235);
}

/* Animations */

@keyframes primary-animation {
    from {
        font-size: 4rem;
        /* padding: 75px; */
    }
    to {
        font-size: 5.5rem;
    }
}